name: Github Activity
on:
  schedule:
    - cron: "*/60 * * * *"
  workflow_dispatch:
jobs:
  build:
    name: Update this repo's README with recent activity
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.SECRET }}
        with:
          MAX_LINES: 15
          COMMIT_NAME: GitHub Activity Readme
